.tweet-sentiment{
  float: left;
  margin-right: 10px;
}
.green_text {
  color: #03c03c;
}
.red_text {
  color: red;
}
.tweet-tweet{
  color: black;
}

html, body {
  margin: 0;
   background: url('congruent_pentagon.png') repeat;
   font-family: 'Raleway';
}

 /* colors */

.light-green {
	background: #84D9C9;
}

.green {
	background: #4D8C7A;
}

.yellow {
	background: #D9BC2B;
}

.orange {
	background: #F27C38;
}

.red {
	background: #D93D3D;
}

.light-blue {
	background: #4AD9D9;
}

.blue {
	background: #0B5D6E;
}

 /* top */

.top {
	width: 100%;
	height: 100px;
}

.game-details {
	max-width: 900px;
	padding: 20px 0;
	height: 100%;
	margin: auto;
}

.player-stats {
	height: 100%;
	width: 50%;
	padding-top: 25px;
	position: relative;
}

.photo {
	width: 80px;
	height: 80px;
	position: absolute;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	top: 50%;
	margin-top: -50px;
}

#player_1_gauge .photo {
	left: -110px;
}

#player_2_gauge .photo {
	right: -110px;
}

.container {
	width:100%;
	position: relative;
}


#player1-tweet {
	float: left;
	width: 43%;
	height: 400px;
	margin-left:20px;
	background-color: rgba(255,255,255,0.7);
	padding: 20px;
	padding-top:0px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom:10px;
	border: 2px solid white;
    border-radius: 25px;
}

.tweet-box{
	background-color: #3498db;
	width: 100%;
	margin: 0px;
	color: white;
}

#player2-tweet {
	float: right;
	width: 43%;
	height: 400px;
	margin-right:20px;
	background-color: rgba(255,255,255,0.7);
	padding: 20px;
	padding-top:0px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom:10px;
	border: 2px solid white;
    border-radius: 25px;
}

.tweet-box h3 {
	text-align: center;
}

.container ul {
   list-style-type: none;
}

.container ul li {
   margin-bottom: 5px;
}

.photo img {
	width: 80px;
	height: auto;
}

.bar {
	width: 400px;
	height: 35px;
	border: 1px solid #4D8C7A;
	border-radius: 3px;
}

.name {
	margin-bottom: 0;
	color: white;
	font-weight: 300;
	font-size: 30px;
	color: #0B5D6E;
}

#player_1_gauge .name {
	text-align: left;
	margin-top: 4px;
}

#player_2_gauge .name {
	text-align: right;
	margin-top: 40px;
}

#player_1_gauge {
	float: left;
}

#player_2_gauge {
	float: right;
}

#player_2_gauge .bar {
	float: right;
}

#player_2_gauge .bar .health {
	float: right;
}

.health {
	height: 100%;
	width: 50%;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

/* game platform */

.backdrop {
	margin-top: 40px;
}

.platform {
	background: url('bg.jpg') no-repeat;
	background-size: 100% 100%;
	position: relative;
	margin: auto;
	max-width: 1400px;
	height: 411px;
}

.item {
	width: 175px;
	height: 200px;
	position: absolute;
	background-image: url('ken-big.png');
}

.player {
	bottom: 40px;
}

.projectile {
	bottom: 50px;
}

.left {
	left: 100px;
}

.right {
	right: 100px;
}

/* idle */
.idle {
	-webkit-animation: idle steps(4) 0.5s infinite;
	-moz-animation: idle steps(4) 0.5s infinite;
	-ms-animation: idle steps(4) 0.5s infinite; 
	animation: idle steps(4) 0.5s infinite;
}

@keyframes idle {
	from { background-position: 0px -200px; }
  to { background-position: -700px -200px; }
}

@-webkit-keyframes idle { 
	from { background-position: 0px -200px; }
  to { background-position: -700px -200px; } 
}

@-moz-keyframes idle { 
	from { background-position: 0px -200px; }
  to { background-position: -700px -200px; } 
}

@-ms-keyframes idle { 
	from { background-position: 0px -200px; }
  to { background-position: -700px -200px; } 
}

/* punch */
.punch {
	-webkit-animation: punch steps(3) 0.5s infinite;
	-moz-animation: punch steps(3) 0.5s infinite;
	-ms-animation: punch steps(3) 0.5s infinite; 
	animation: punch steps(3) 0.5s infinite;
}

@keyframes punch {
	from { background-position: 0px -400px; }
  to { background-position: -525px -400px; }
}

@-webkit-keyframes punch { 
	from { background-position: 0px -400px; }
  to { background-position: -525px -400px; } 
}

@-moz-keyframes punch { 
	from { background-position: 0px -400px; }
  to { background-position: -525px -400px; } 
}

@-ms-keyframes punch { 
	from { background-position: 0px -400px; }
  to { background-position: -525px -400px; } 
}

/* walk */
.walk {
	-webkit-animation: walk steps(5) 0.5s infinite;
	-moz-animation: walk steps(5) 0.5s infinite;
	-ms-animation: walk steps(5) 0.5s infinite; 
	animation: walk steps(5) 0.5s infinite;
}

@keyframes walk {
	from { background-position: 0px -600px; }
  to { background-position: -875px -600px; }
}

@-webkit-keyframes walk { 
	from { background-position: 0px -600px; }
  to { background-position: -875px -600px; } 
}

@-moz-keyframes walk { 
	from { background-position: 0px -600px; }
  to { background-position: -875px -600px; } 
}

@-ms-keyframes walk { 
	from { background-position: 0px -600px; }
  to { background-position: -875px -600px; } 
}

/* kick */
.kick {
	-webkit-animation: kick steps(5) 0.5s infinite;
	-moz-animation: kick steps(5) 0.5s infinite;
	-ms-animation: kick steps(5) 0.5s infinite; 
	animation: kick steps(5) 0.5s infinite;
}

@keyframes kick {
	from { background-position: 0px -1200px; }
  to { background-position: -875px -1200px; }
}

@-webkit-keyframes kick { 
	from { background-position: 0px -1200px; }
  to { background-position: -875px -1200px; } 
}

@-moz-keyframes kick { 
	from { background-position: 0px -1200px; }
  to { background-position: -875px -1200px; } 
}

@-ms-keyframes kick { 
	from { background-position: 0px -1200px; }
  to { background-position: -875px -1200px; } 
}

/* reverse kick */
.reverse-kick {
	-webkit-animation: reverse-kick steps(5) 0.5s infinite;
	-moz-animation: reverse-kick steps(5) 0.5s infinite;
	-ms-animation: reverse-kick steps(5) 0.5s infinite; 
	animation: reverse-kick steps(5) 0.5s infinite;
}

@keyframes reverse-kick {
	from { background-position: 0px -1400px; }
  to { background-position: -875px -1400px; }
}

@-webkit-keyframes reverse-kick { 
	from { background-position: 0px -1400px; }
  to { background-position: -875px -1400px; } 
}

@-moz-keyframes reverse-kick { 
	from { background-position: 0px -1400px; }
  to { background-position: -875px -1400px; } 
}

@-ms-keyframes reverse-kick { 
	from { background-position: 0px -1400px; }
  to { background-position: -875px -1400px; } 
}

/* hadouken */
.hadouken {
	-webkit-animation: reverse-kick steps(4) 0.5s infinite;
	-moz-animation: reverse-kick steps(4) 0.5s infinite;
	-ms-animation: reverse-kick steps(4) 0.5s infinite; 
	animation: reverse-kick steps(4) 0.5s infinite;
}

@keyframes reverse-kick {
	from { background-position: 0px 0px; }
  to { background-position: -700px 0px; }
}

@-webkit-keyframes reverse-kick { 
	from { background-position: 0px 0px; }
  to { background-position: -700px 0px; } 
}

@-moz-keyframes reverse-kick { 
	from { background-position: 0px 0px; }
  to { background-position: -700px 0px; } 
}

@-ms-keyframes reverse-kick { 
	from { background-position: 0px 0px; }
  to { background-position: -700px 0px; } 
}

/* projectile */
.projectile {
	-webkit-animation: projectile steps(2) 0.5s infinite;
	-moz-animation: projectile steps(2) 0.5s infinite;
	-ms-animation: projectile steps(2) 0.5s infinite; 
	animation: projectile steps(2) 0.5s infinite;
}

@keyframes projectile {
	from { background-position: 0px -800px; }
  to { background-position: -350px -800px; }
}

@-webkit-keyframes projectile { 
	from { background-position: 0px -800px; }
  to { background-position: -350px -800px; } 
}

@-moz-keyframes projectile { 
	from { background-position: 0px -800px; }
  to { background-position: -350px -800px; } 
}

@-ms-keyframes projectile { 
	from { background-position: 0px -800px; }
  to { background-position: -350px -800px; } 
}


/* projectile explode */
.projectile.explode {
	-webkit-animation: explode steps(4) 0.5s infinite;
	-moz-animation: explode steps(4) 0.5s infinite;
	-ms-animation: explode steps(4) 0.5s infinite; 
	animation: explode steps(4) 0.5s infinite;
}

@keyframes explode {
	from { background-position: 0px -1000px; }
  to { background-position: -700px -1000px; }
}

@-webkit-keyframes explode { 
	from { background-position: 0px -1000px; }
  to { background-position: -700px -1000px; } 
}

@-moz-keyframes explode { 
	from { background-position: 0px -1000px; }
  to { background-position: -700px -1000px; } 
}

@-ms-keyframes explode { 
	from { background-position: 0px -1000px; }
  to { background-position: -700px -1000px; } 
}

.flip {
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
}
