/* CSS declarations go here */


/* CSS declarations go here */

html, body {
  margin: 0;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('dark_brick_wall_@2X.png') repeat;
}

.backdrop {
  display: table-cell;
  vertical-align: middle
}

.platform {
	background-image: url('bg.jpg');
	position: relative;
	margin: auto;
	max-width: 1024px;
	height: 411px;
}

.player {
	position: absolute;
	bottom: 40px;
	width: 175px;
	height: 200px;
	background-image: url('ken-big.png'); 
}

.left {
	left: 256px;
}

.right {
	right: 256px;
}

.flip {
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
}

